<!-- 
  This is the page for the FD1 form for the
  faculty user to fill it up.
  October 18, 2018
  @ver 1.2
  @author Sai Manalili
-->

<!DOCTYPE html>
<html>

<head>
  <title>Request Grant - FD1</title>
  <!-- Always include these two css files when creating a new html file. -->
  <link href="../semantic/semantic.css" type="text/css" rel="stylesheet" />
  <link href="../css/main.css" type="text/css" rel="stylesheet" />
  <!-- You can insert more CSS files below-->
  <link href="../public/semantic-ui-calendar/dist/calendar.min.css" type="text/css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href=".../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="..favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!-- This is the menu bar. -->
  <div class="ui inverted huge borderless fixed fluid menu">
    <a href="/home" class="header item">
      <div class="ui mini image">
        <img src="../public/images/dlsulogo.png" />
      </div>
      <div class="brand-text">
        Office of the Vice Chancellor <br /> for Academics
      </div>
    </a>
    <div class="right menu">
    </div>
  </div>

  <div class="ui grid">
    <!-- This is the side menubar. -->
    <div class="row">
      <div class="column" id="sidebar">
        <div class="ui secondary vertical fluid menu">
          <div class="ui grid">

            <!-- This is where the short overview of the profile is placed. -->
            <div class="one column center aligned row">
              <div class="column profile">
                <div class="ui small image circular bordered">
                  <img src="../images/photo_template.jpg" />
                </div>
                <div class="row">
                  <div class="person-name stackable">
                    <p>{{user.firstName}} {{user.lastName}}</p>
                  </div>
                  <div class="person-type stackable">
                    {{user.userType}}
                  </div>
                  <div class="log-out">
                    <a class="ui tiny button">
                      Log Out
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- These are the side menubar items. -->
          <a href="/faculty/my-requests" class="item">
              My Grant Requests
              {{#if user.notification}}
              <i class="ui red circular label">{{user.notification}}</i>
              {{else}}
              <i class="right chevron icon"></i>
              {{/if}}
            </a>
          <a href="/faculty/request-grant" class="active item">
            Request Grant
            <i class="chevron right icon"></i>
          </a>
        </div>
      </div>

      <!-- This is where you will put the content of the page. -->
      <div class="column" id="content">
        <div class="ui grid">
          <div class="row">
            <h1 class="ui huge header">
              [FD1] Incentive for Publication in Pre-Selected High Impact Journal
            </h1>
          </div>
          <div class="ui divider"></div>
          <div class="one column center aligned row">
            <div class="column">
              <h3>1st Term, AY 2018-2019</h3>
            </div>
          </div>
          <div class="row">
            <div class="one column">
              <div class="ui negative message fluid">
                <div class="header">
                  Reminder
                </div>
                <p>All fields are required to be filled up.</p>
              </div>
            </div>
          </div>

          <!-- This is where the fields for the forms. -->
          <div class="row">
            <div class="one column">
              <form action="/faculty/preview-fd1" method="post" class="ui form" id="request-form" autocomplete="off">
                <input type="hidden" name="formNum" value="1" />
                <div class="two fields disabled">
                  <div class="field">
                    <label>First Name</label>
                    <input type="text" readonly name="firstName" value="{{user.firstName}}" />
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    <input type="text" readonly name="lastName" value="{{user.lastName}}" />
                  </div>
                </div>
                <div class="fields disabled">
                  <div class="seven wide field">
                    <label>Department</label>
                    <input type="text" readonly name="department" value="{{user.department}}" />
                  </div>
                  <div class="four wide field disabled">
                    <label>Date Hired</label>
                    <div class="ui calendar" id="date-hired">
                      <div class="ui disabled input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" readonly name="dateHired" placeholder="Date" value="{{user.dateHired}}" />
                      </div>
                    </div>
                  </div>
                  <div class="five wide field disabled">
                    <label>Rank</label>
                    <input type="text" readonly name="rank" value="{{user.rank}}" />
                  </div>
                </div>
                <div class="field disabled">
                  <label>Status</label>
                  <div class="fields disabled">
                    {{#facultystatus user.status}}
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" value="Permanent" />
                        <label>Permanent</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" checked="checked" value="Probationary" />
                        <label>Probationary</label>
                      </div>
                    </div>
                    {{else}}
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" checked="checked" value="Permanent" />
                        <label>Permanent</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" value="Probationary" />
                        <label>Probationary</label>
                      </div>
                    </div>
                    {{/facultystatus}}
                  </div>
                </div>
                <div class="field disabled">
                  <label>Average teaching performance for the last 3 academic years</label>
                  <input type="number" readonly name="aveTeachingPerformance" value="{{user.aveTeachingPerformance}}" />
                </div>
                <div class="field">
                  <label>Title of Paper or Publication</label>
                  <input type="text" name="titleOfPaperOrPublication" id="titleOfPaperOrPublication" class="check"
                    value="{{fdOneData.titleOfPaperOrPublication}}" />
                </div>
                <div class="field">
                  <label>Title of the Journal where paper was published</label>
                  <input type="text" name="titleOfJournal" id="titleOfJournal" class=" check" value="{{fdOneData.titleOfJournal}}" />
                </div>
                <div class="field">
                  <div class="fields">
                    <div class="eight wide field">
                      <label>Date paper was submitted for publication</label>
                      <div class="ui calendar" id="submit-date">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="datePaperSubmitted" placeholder="Date" id="datePaperSubmitted" class=" check"
                            value="{{fdOneData.datePaperSubmitted}}" />
                        </div>
                      </div>
                    </div>
                    <div class="eight wide field">
                      <label>Date paper was accepted for publication</label>
                      <div class="ui calendar" id="accept-date">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="datePaperAccepted" placeholder="Date" id="datePaperAccepted" class=" check"
                            value="{{fdOneData.datePaperAccepted}}" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Name of Conference</label>
                  <input type="text" name="nameOfConference" id="nameOfConference" class=" check" value="{{fdOneData.nameOfConference}}" />
                </div>
                <div class="field">
                  <label>Title of paper to be presented</label>
                  <input type="text" name="titleOfPaperToBePresented" id="titleOfPaperToBePresented" class=" check"
                    value="{{fdOneData.titleOfPaperToBePresented}}" />
                </div>
                <div class="field">
                  <div class="fields">
                    <div class="eight wide field">
                      <label>Date of Conference (Start) </label>
                      <div class="ui calendar" id="conference-startdate">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="dateOfStartConference" placeholder="Date" id="dateOfStartConference"
                            class=" check" value="{{fdOneData.dateOfStartConference}}" />
                        </div>
                      </div>
                    </div>
                    <div class="eight wide field">
                      <label>Date of Conference (End) </label>
                      <div class="ui calendar" id="conference-enddate">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="dateOfEndConference" placeholder="Date" id="dateOfEndConference"
                            class=" check"  value="{{fdOneData.dateOfEndConference}}" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Place and Venue</label>
                  <input type="text" name="placeAndVenue" id="placeAndVenue" class=" check" value="{{fdOneData.placeAndVenue}}" />
                </div>
                <div class="field">
                  <div class="fields">
                    <div class="eight wide field">
                      <label>Date of Departure</label>
                      <div class="ui calendar" id="departure-date">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="dateOfDeparture" placeholder="Date" id="dateOfDeparture" class="check"
                            value="{{fdOneData.dateOfDeparture}}" />
                        </div>
                      </div>
                    </div>
                    <div class="eight wide field">
                      <label>Date of Return</label>
                      <div class="ui calendar" id="return-date">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="dateOfReturn" placeholder="Date" id="dateOfReturn" class=" check"
                            value="{{fdOneData.dateOfReturn}}" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="fields">
                    <div class="eight wide field">
                      <label>Date of expected return to work</label>
                      <div class="ui calendar" id="expected-date">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="dateOfReturnToWork" placeholder="Date" id="dateOfReturnToWork" class=" check"
                            value="{{fdOneData.dateOfReturnToWork}}" />
                        </div>
                      </div>
                    </div>
                    <div class="eight wide field">
                      <label>Date incentive was last availed of</label>
                      <div class="ui calendar" id="incentive-date">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="dateIncentiveLastAvailed" placeholder="Date" id="dateIncentiveLastAvailed"
                            class="check" value="{{fdOneData.dateIncentiveLastAvailed}}" />
                        </div>
                      </div>
                      {{#isNoIncentiveAvailed fdOneData.dateIncentiveLastAvailed}}
                      <div class="ui checkbox" style="padding-top: 10px">
                        <input type="checkbox" name="noneIncentive" id="no-avail" checked="checked">
                        <label>Did not avail an incentive yet.</label>
                      </div>
                      {{else}}
                      <div class="ui checkbox" style="padding-top: 10px">
                        <input type="checkbox" name="noneIncentive" id="no-avail">
                        <label>Did not avail an incentive yet.</label>
                      </div>
                      {{/isNoIncentiveAvailed}}
                    </div>
                  </div>
                </div>

                <!-- This is where you will put the additional requirements. -->
                <div class="field additional requirements">
                  <label class="additional requirements title">Application should be accompanied by the following:</label>
                  <div class="fields">
                    <div class="three wide field">
                      <i class="right triangle icon"></i>
                      Application Letter
                    </div>
                    <div class="five wide field">
                      <i class="right triangle icon"></i>
                      Proof of acceptance from the journal editor
                    </div>
                    <div class="six wide field">
                      <i class="right triangle icon"></i>
                      Call for papers of conference/symposium
                    </div>
                  </div>
                </div>
                <div class="field additional requirements">
                  <div class="fields">
                    <div class="three wide field">
                      <i class="right triangle icon"></i>
                      Copy of journal paper
                    </div>
                    <div class="thirteen wide field" style="font-size: 13px;">
                      <i class="right triangle icon"></i>
                      Proof of paper acceptance for the conference <b>&nbsp; or &nbsp;</b>
                      Copy of invitation to deliver keynote presentation as an
                      invited speaker
                    </div>
                  </div>
                </div>
                <div class="field additional requirements">
                  <i class="right triangle icon"></i>
                  Updated DLSU Faculty webpage
                  <i>(attach printout of updated
                    faculty webpage)
                    <a href="https://www.dlsu.edu.ph/wp-content/uploads/2018/08/individual-faculty-web-form.pdf" target="_blank">https://www.dlsu.edu.ph/wp-content/uploads/2018/08/individual-faculty-web-form.pdf
                    </a>
                  </i>
                </div>
                <div class="field">
                  <div class="sixteen wide field">
                    <b>Faculty Development Guidelines: </b>
                    <a href="http://intranet.dlsu.edu.ph/downloads/forms/pdf/faculty-development-program.pdf" target="_blank">http://intranet.dlsu.edu.ph/downloads/forms/pdf/faculty-development-program.pdf
                    </a>
                  </div>
                </div>

                <div class="ui grid">
                  <div class="four column row">

                    <div class="left floated column">
                      <div class="extra">
                        <a class="ui left floated button" href="/faculty/request-grant">
                          <i class="left chevron icon"></i>
                          Back
                        </a>
                      </div>
                    </div>

                    <div class="right floated column">
                      <div class="extra">
                        <div class="ui submit green button right floated" id="confirm">
                          Submit
                          <i class="right chevron icon"></i>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </form>

              <!-- This the modal for logout confirmation -->
              <div class="ui mini modal logout">
                <div class="header">Are you sure?</div>
                <div class="content">
                  <p>Do you really want to log out?</p>
                </div>
                <div class="actions">
                  <input type="submit" value="Log out" class="ui button positive logout" style="background-color:#016938">
                  <div class="ui cancel button">Not yet</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Always include these two JS files when adding a new page -->
<script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../public/semantic/semantic.js"></script>
<script type="text/javascript" src="../public/semantic-ui-calendar/dist/calendar.min.js"></script>
<!-- You can insert more JS files below -->
<script type="text/javascript" src="../public/js/form1.js"></script>
<script type="text/javascript" src="../public/js/log-out.js"></script>

</html>