<!-- 
  This is the page for the FD16 form for the
  faculty user to fill it up.
  October 20, 2018
  @ver 1.2
  @author Sai Manalili
-->

<!DOCTYPE html>
<html>

<head>
  <title>Request Grant - FD16</title>
  <!-- Always include these two css files when creating a new html file. -->
  <link href="../semantic/semantic.css" type="text/css" rel="stylesheet" />
  <link href="../css/main.css" type="text/css" rel="stylesheet" />
  <!-- You can insert more CSS files below-->
  <link href="../public/semantic-ui-calendar/dist/calendar.min.css" type="text/css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href=".../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="..favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!-- This is the menu bar. -->
  <div class="ui inverted huge borderless fixed fluid menu">
    <a href="/home" class="header item">
      <div class="ui mini image">
        <img src="../public/images/dlsulogo.png" />
      </div>
      <div class="brand-text">
        Office of the Vice Chancellor <br /> for Academics
      </div>
    </a>
    <div class="right menu">
    </div>
  </div>

  <div class="ui grid">
    <!-- This is the side menubar. -->
    <div class="row">
      <div class="column" id="sidebar">
        <div class="ui secondary vertical fluid menu">
          <div class="ui grid">

            <!-- This is where the short overview of the profile is placed. -->
            <div class="one column center aligned row">
              <div class="column profile">
                <div class="ui small image circular bordered">
                  <img src="../images/photo_template.jpg" />
                </div>
                <div class="row">
                  <div class="person-name stackable">
                    <p>{{user.firstName}} {{user.lastName}}</p>
                  </div>
                  <div class="person-type stackable">
                    {{user.userType}}
                  </div>
                  <div class="log-out">
                    <a class="ui tiny button">
                      Log Out
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- These are the side menubar items. -->
          <a href="/faculty/my-requests" class="item">
             My Grant Requests
            {{#if user.notification}}
              <i class="ui red circular label"></i>
              {{else}}
              <i class="right chevron icon"></i>
              {{/if}}
          </a>
          <a href="/faculty/request-grant" class="active item">
            Request Grant
            <i class="chevron right icon"></i>
          </a>
        </div>
      </div>

      <!-- This is where you will put the content of the page. -->
      <div class="column" id="content">
        <div class="ui grid">
          <div class="row">
            <h1 class="ui huge header">
              [FD16] Support for Membership in Professional Organizations
            </h1>
          </div>
          <div class="ui divider"></div>
          <div class="one column center aligned row">
            <div class="column">
              <h3>1st Term, AY 2018-2019</h3>
            </div>
          </div>
          <div class="row">
            <div class="one column">
              <div class="ui negative message fluid">
                <div class="header">
                  Reminder
                </div>
                <p>All fields are required to be filled up.</p>
              </div>
            </div>
          </div>
          <!-- This is where the fields for the forms. -->
          <div class="row">
            <div class="one column">
              <form action="/faculty/preview-fd16" method="post" class="ui form" id="request-form"
                autocomplete="off">
                <div class="two fields disabled">
                  <div class="field">
                    <label>First Name</label>
                    <input type="text" readonly name="firstName" value="{{user.firstName}}" />
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    <input type="text" readonly name="lastName" value="{{user.lastName}}" />
                  </div>
                </div>
                <div class="two fields disabled">
                  <div class="field">
                    <label>Department</label>
                    <input type="text" readonly name="department" value="{{user.department}}" />
                  </div>
                  <div class="field">
                    <label>Rank</label>
                    <input type="text" readonly name="rank" value="{{user.rank}}"/>
                  </div>
                </div>
                <div class="field disabled">
                  <label>Status</label>
                  <div class="fields">
                    {{#facultystatus user.status}}
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" value="Permanent" />
                        <label>Permanent</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" checked="checked" value="Probationary"/>
                        <label>Probationary</label>
                      </div>
                    </div>
                    {{else}}
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" checked="checked" value="Permanent"/>
                        <label>Permanent</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" readonly name="status" value="Probationary" />
                        <label>Probationary</label>
                      </div>
                    </div>                    
                    {{/facultystatus}}
                  </div>
                </div>
                <div class="field">
                  <label>Name of Organization</label>
                  <input type="text" name="nameOfOrganization" id = "nameOfOrganization" class = "check"
                         value="{{fdSixteenData.nameOfOrganization}}"/>
                </div>

               {{#membershiptype fdSixteenData.typeOfMembershipPlace }}
                <div class="field">
                  <label>Type of membership</label>
                  <div class="fields">
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeOfMembershipPlace" value="Local" />
                        <label>Local</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeOfMembershipPlace" value="International" checked="checked"/>
                        <label>International</label>
                      </div>
                    </div>
                  </div>
                </div>
                {{else}}
                <div class="field">
                  <label>Type of membership</label>
                  <div class="fields">
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeOfMembershipPlace" value="Local" checked="checked"/>
                        <label>Local</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeOfMembershipPlace" value="International" />
                        <label>International</label>
                      </div>
                    </div>
                  </div>
                </div>
              {{/membershiptype}}
               {{#membershiptype2 fdSixteenData.typeofMembershipDuration }}
                <div class="field">
                  <label>Type of membership</label>
                  <div class="fields">
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeofMembershipDuration" value="Annual" />
                        <label>Annual</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeofMembershipDuration" id="lifetime-membership" value="Lifetime" checked="checked" />
                        <label>Lifetime</label>
                      </div>
                    </div>
                  </div>
                </div>
                {{else}}
                <div class="field">
                  <label>Type of membership</label>
                  <div class="fields">
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeofMembershipDuration" value="Annual" checked="checked" />
                        <label>Annual</label>
                      </div>
                    </div>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="typeofMembershipDuration" id="lifetime-membership" value="Lifetime" />
                        <label>Lifetime</label>
                      </div>
                    </div>
                  </div>
                </div>
              {{/membershiptype2}}
                <div class="field">
                  <div class="fields">
                    <div class="eight wide field">
                      <label>Membership Date</label>
                      <div class="ui calendar" id="membership-date">
                        <div class="ui input left icon">
                          <i class="calendar icon"></i>
                          <input type="text" name="membershipDate" placeholder="Date" id = "membershipDate" class = "check"
                                 value="{{fdSixteenData.membershipDate}}"/>
                        </div>
                      </div>
                    </div>
                    <div class="eight wide field">
                      <label>Coverage</label>
                      <input type="text" name="coverage" id = "coverage" class = "check"
                             value="{{fdSixteenData.coverage}}"/>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="fields">
                   <div class="eight wide field">
                      <label>Membership Fee</label>  
                         <input type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46"
                          name="membershipFee" id = "membershipFee" class = "check" 
                          value="{{fdSixteenData.membershipFee}}">
                    </div>
                    <div class="eight wide field">                     
                      <label>(currency)</label>  
                        <div class="ui fluid search selection dropdown currencychoice">
                            <input type="hidden" name="currencychoice" id="currencychoice">
                            <div class="text"> </div>
                            <i class="dropdown icon"></i>
                            <div class="menu" >
                                  <div class="item" data-value="ALL">Albania Lek (ALL)</div>
                                  <div class="item" data-value="AFN">Afghanistan Afghani (AFN)</div>
                                  <div class="item" data-value="ARS">Argentina Peso (ARS)</div>
                                  <div class="item" data-value="AWG">Aruba Guilder (AWG)</div>
                                  <div class="item" data-value="AUD">Australia Dollar (AUD)</div>
                                  <div class="item" data-value="AZN">Azerbaijan New Manat (AZN)</div>
                                  <div class="item" data-value="BSD">Bahamas Dollar (BSD)</div>
                                  <div class="item" data-value="BBD">Barbados Dollar (BBD)</div>
                                  <div class="item" data-value="BYR">Belarus Ruble (BYR)</div>
                                  <div class="item" data-value="BZD">Belize Dollar (BZD)</div>
                                  <div class="item" data-value="BMD">Bermuda Dollar (BMD)</div>
                                  <div class="item" data-value="BOB">Bolivia Boliviano (BOB)</div>
                                  <div class="item" data-value="BAM">Bosnia and Herzegovina Convertible Marka (BAM)</div>
                                  <div class="item" data-value="BWP">Botswana Pula (BWP)</div>
                                  <div class="item" data-value="BGN">Bulgaria Lev (BGN)</div>
                                  <div class="item" data-value="BGL">Bulgaria Lev (лв)</div>
                                  <div class="item" data-value="BRL">Brazil Real (BRL)</div>
                                  <div class="item" data-value="BND">Brunei Darussalam Dollar (BND)</div>
                                  <div class="item" data-value="KHR">Cambodia Riel (KHR)</div>
                                  <div class="item" data-value="CAD">Canada Dollar (CAD)</div>
                                  <div class="item" data-value="KYD">Cayman Islands Dollar (KYD)</div>
                                  <div class="item" data-value="CLP">Chile Peso (CLP)</div>
                                  <div class="item" data-value="CNY">China Yuan Renminbi (CNY)</div>
                                  <div class="item" data-value="COP">Colombia Peso (COP)</div>
                                  <div class="item" data-value="CRC">Costa Rica Colon (CRC)</div>
                                  <div class="item" data-value="HRK">Croatia Kuna (HRK)</div>
                                  <div class="item" data-value="CUP">Cuba Peso (CUP)</div>
                                  <div class="item" data-value="CZK">Czech Republic Koruna (CZK)</div>
                                  <div class="item" data-value="DKK">Denmark Krone (DKK)</div>
                                  <div class="item" data-value="DOP">Dominican Republic Peso (DOP)</div>
                                  <div class="item" data-value="XCD">East Caribbean Dollar (XCD)</div>
                                  <div class="item" data-value="EGP">Egypt Pound (EGP)</div>
                                  <div class="item" data-value="SVC">El Salvador Colon (SVC)</div>
                                  <div class="item" data-value="EEK">Estonia Kroon (EEK)</div>
                                  <div class="item" data-value="EUR">Euro Member Countries (EUR)</div>
                                  <div class="item" data-value="FKP">Falkland Islands (Malvinas) Pound (FKP)</div>
                                  <div class="item" data-value="FJD">Fiji Dollar (FJD)</div>
                                  <div class="item" data-value="GHC">Ghana Cedis (GHC)</div>
                                  <div class="item" data-value="GIP">Gibraltar Pound (GIP)</div>
                                  <div class="item" data-value="GTQ">Guatemala Quetzal (GTQ)</div>
                                  <div class="item" data-value="GGP">Guernsey Pound (GGP)</div>
                                  <div class="item" data-value="GYD">Guyana Dollar (GYD)</div>
                                  <div class="item" data-value="HNL">Honduras Lempira (HNL)</div>
                                  <div class="item" data-value="HKD">Hong Kong Dollar (HKD)</div>
                                  <div class="item" data-value="HUF">Hungary Forint (HUF)</div>
                                  <div class="item" data-value="ISK">Iceland Krona (ISK)</div>
                                  <div class="item" data-value="INR">Indian Rupee (INR)</div>
                                  <div class="item" data-value="IDR">Indonesia Rupiah (IDR)</div>
                                  <div class="item" data-value="IRR">Iran Rial (IRR)</div>
                                  <div class="item" data-value="IMP">Isle of Man Pound (IMP)</div>
                                  <div class="item" data-value="ILS">Israel Shekel (ILS)</div>
                                  <div class="item" data-value="JMD">Jamaica Dollar (JMD)</div>
                                  <div class="item" data-value="JPY">Japan Yen (JPY)</div>
                                  <div class="item" data-value="JEP">Jersey Pound (JEP)</div>
                                  <div class="item" data-value="KZT">Kazakhstan Tenge (KZT)</div>
                                  <div class="item" data-value="KPW">Korea (North) Won (KPW)</div>
                                  <div class="item" data-value="KRW">Korea (South) Won (KRW)</div>
                                  <div class="item" data-value="KGS">Kyrgyzstan Som (KGS)</div>
                                  <div class="item" data-value="LAK">Laos Kip (LAK)</div>
                                  <div class="item" data-value="LVL">Latvia Lat (LVL)</div>
                                  <div class="item" data-value="LBP">Lebanon Pound (v)</div>
                                  <div class="item" data-value="LRD">Liberia Dollar (LRD)</div>
                                  <div class="item" data-value="LTL">Lithuania Litas (LTL)</div>
                                  <div class="item" data-value="MKD">Macedonia Denar (MKD)</div>
                                  <div class="item" data-value="MYR">Malaysia Ringgit (MYR)</div>
                                  <div class="item" data-value="MUR">Mauritius Rupee (MUR)</div>
                                  <div class="item" data-value="MXN">Mexico Peso (MXN)</div>
                                  <div class="item" data-value="MNT">Mongolia Tughrik (MNT)</div>
                                  <div class="item" data-value="MZN">Mozambique Metical (MZN)</div>
                                  <div class="item" data-value="NAD">Namibia Dollar (NAD)</div>
                                  <div class="item" data-value="NPR">Nepal Rupee (NPR)</div>
                                  <div class="item" data-value="ANG">Netherlands Antilles Guilder (ANG)</div>
                                  <div class="item" data-value="NZD">New Zealand Dollar (NZD)</div>
                                  <div class="item" data-value="NIO">Nicaragua Cordoba (NIO)</div>
                                  <div class="item" data-value="NGN">Nigeria Naira (NGN)</div>
                                  <div class="item" data-value="NOK">Norway Krone (NOK)</div>
                                  <div class="item" data-value="OMR">Oman Rial (OMR)</div>
                                  <div class="item" data-value="PKR">Pakistan Rupee (PKR)</div>
                                  <div class="item" data-value="PAB">Panama Balboa (PAB)</div>
                                  <div class="item" data-value="PYG">Paraguay Guarani (PYG)</div>
                                  <div class="item" data-value="PEN">Peru Nuevo Sol (PEN)</div>
                                  <div class="item" data-value="PHP" selected="selected">Philippines Peso (PHP)</div>
                                  <div class="item" data-value="PLN">Poland Zloty (PLN)</div>
                                  <div class="item" data-value="QAR">Qatar Riyal (QAR)</div>
                                  <div class="item" data-value="RON">Romania New Leu (RON)</div>
                                  <div class="item" data-value="RUB">Russia Ruble (RUB)</div>
                                  <div class="item" data-value="SHP">Saint Helena Pound (SHP)</div>
                                  <div class="item" data-value="SAR">Saudi Arabia Riyal (SAR)</div>
                                  <div class="item" data-value="RSD">Serbia Dinar (RSD)</div>
                                  <div class="item" data-value="SCR">Seychelles Rupee (SCR)</div>
                                  <div class="item" data-value="SGD">Singapore Dollar (SGD)</div>
                                  <div class="item" data-value="SBD">Solomon Islands Dollar (SBD)</div>
                                  <div class="item" data-value="SOS">Somalia Shilling (SOS)</div>
                                  <div class="item" data-value="ZAR">South Africa Rand (ZAR)</div>
                                  <div class="item" data-value="LKR">Sri Lanka Rupee (LKR)</div>
                                  <div class="item" data-value="SEK">Sweden Krona (SEK)</div>
                                  <div class="item" data-value="CHF">Switzerland Franc (CHF)</div>
                                  <div class="item" data-value="SRD">Suriname Dollar (SRD)</div>
                                  <div class="item" data-value="SYP">Syria Pound (SYP)</div>
                                  <div class="item" data-value="TWD">Taiwan New Dollar (TWD)</div>
                                  <div class="item" data-value="THB">Thailand Baht (THB)</div>
                                  <div class="item" data-value="TTD">Trinidad and Tobago Dollar (TTD)</div>
                                  <div class="item" data-value="TRY">Turkey Lira (TRY)</div>
                                  <div class="item" data-value="TRL">Turkey Lira (TRL)</div>
                                  <div class="item" data-value="TVD">Tuvalu Dollar (TVD)</div>
                                  <div class="item" data-value="UAH">Ukraine Hryvna (UAH)</div>
                                  <div class="item" data-value="GBP">United Kingdom Pound (GBP)</div>
                                  <div class="item" data-value="USD">United States Dollar (USD)</div>
                                  <div class="item" data-value="UYU">Uruguay Peso (UYU)</div>
                                  <div class="item" data-value="UZS">Uzbekistan Som (UZS)</div>
                                  <div class="item" data-value="VEF">Venezuela Bolivar Fuerte (VEF)</div>
                                  <div class="item" data-value="VND">Viet Nam Dong (VND)</div>
                                  <div class="item" data-value="YER">Yemen Rial (YER)</div>
                                  <div class="item" data-value="ZWD">Zimbabwe Dollar (ZWD)</div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class = "field">  
                  <div class = "sixteen wide field">           
                    <label>(check payable to)</label>
                      <input type="text" name="checkPayableTo" id = "checkPayableTo" class = "check"
                        value="{{fdSixteenData.checkPayableTo}}"/>
                   </div>
                </div>
                
               <!-- This is where you will put the additional requirements. -->
                <div class="field additional requirements">
                  <label class = "additional requirements title">Application should be accompanied by the following:</label>
                  <div class="fields">
                    <div class="five wide field">
                      <label>For Annual Membership:</label>
                      <i class="right triangle icon"></i>
                      Membership form from the organization
                    </div>
                    <div class="six wide field">
                      <label>For Lifetime Membership:</label>
                      <i class="right triangle icon"></i>
                      Membership form from the organization
                    </div>
                  </div>
                </div>
                <div class="field additional requirements">
                  <div class="fields">
                    <div class="five wide field">
                      <i class="right triangle icon"></i>
                      Print-outs/brochures of the organization
                    </div>
                    <div class="six wide field">
                      <i class="right triangle icon"></i>
                      Print-outs/brochures of the organization
                    </div>
                  </div>
                </div>
                <div class="field additional requirements">
                  <div class="fields">
                    <div class="five wide field"></div>
                    <div class="eleven wide field">
                      <i class="right triangle icon"></i>
                      Copy of the organization’s annual conference and meeting program
                      showing the paper presentations of the faculty  <b>&nbsp; &nbsp;or &nbsp;&nbsp;</b> 
                      Certification from the professional organization’s secretariat that the faculty member
                      has presented at least five (5) papers (cumulative) in the
                      organization’s annual conference and meetings.
                    </div>
                  </div>
                </div>
                <div class="field additional requirements">
                  <div class="fields">
                    <div class="five wide field"></div>
                    <div class="eleven wide field">
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="sixteen wide field">
                    <b>Faculty Development Guidelines: </b><a href="http://intranet.dlsu.edu.ph/downloads/forms/pdf/faculty-development-program.pdf" target="_blank">http://intranet.dlsu.edu.ph/downloads/forms/pdf/faculty-development-program.pdf</a>
                  </div>
                </div>
                <div class="ui grid">
                  <div class="four column row">
                    
                    <div class="left floated column">
                      <div class="extra">
                        <a class="ui left floated button" href="/faculty/request-grant" >
                          <i class="left chevron icon"></i>
                          Back
                        </a>
                      </div>
                    </div>

                    <div class="right floated column">
                      <div class="extra">
                        <div class="ui submit green button right floated" id="confirm" >
                          Submit
                         <i class="right chevron icon"></i>
                      </div>
                    </div>
                   </div>

                  </div>
                </div>

                 <!-- This the modal for logout confirmation -->
                  <div class="ui mini modal logout">
                    <div class="header">Are you sure?</div>
                    <div class="content">
                      <p>Do you really want to log out?</p>
                    </div>
                    <div class="actions">
                      <input type="submit" value="Log out" class="ui button positive logout" style = "background-color:#016938">
                      <div class="ui cancel button">Not yet</div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Always include these two JS files when adding a new page -->
<script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../public/semantic/semantic.js"></script>
<script type="text/javascript" src="../public/semantic-ui-calendar/dist/calendar.min.js"></script>
<!-- You can insert more JS files below -->
<script type="text/javascript" src="../public/js/form16.js"></script>
<script type="text/javascript" src="../public/js/log-out.js"></script>
</html>