<!-- 
  This is the home page of the regular user or
  the faculty.
  October 15, 2018
  @ver 1.0
  @author Sai Manalili
-->

<!DOCTYPE html>
<html>

<head>
  <title>My Requests</title>
  <!-- Always include these two css files when creating a new html file. -->
  <link href="../semantic/semantic.css" type="text/css" rel="stylesheet" />
  <link href="../css/main.css" type="text/css" rel="stylesheet" />
  <!-- You can insert more CSS files below-->
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href=".../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="..favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
    <!-- This is the menu bar. -->
    <div class="ui inverted huge borderless fixed fluid menu">
      <a href="/home" class="header item">
        <div class="ui mini image">
          <img src="../images/dlsulogo.png" />
        </div>
        <div class="brand-text">
          Office of the Vice Chancellor <br> for Academics
        </div>
      </a>
      <div class="right menu">
        <a class="item">
          <i class="bell icon"></i>
        </a>
      </div>
    </div>

    <div class="ui grid">
      <!-- This is the side menubar. -->
      <div class="row">
        <div class="column" id="sidebar">
          <div class="ui secondary vertical fluid menu">
            <div class="ui grid">

              <!-- This is where the short overview of the profile is placed. -->
              <div class="one column center aligned row">
                <div class="column profile">
                  <div class="ui small image circular bordered">
                    <img src="../images/photo_template.jpg" />
                  </div>
                  <div class="row">
                    <div class="person-name stackable">
                      <p>{{user.firstName}} {{user.lastName}}</p>
                    </div>
                    <div class="person-type stackable">
                      {{user.userType}}
                    </div>
                    <div class="log-out">
                      <a class="ui tiny button">
                        Log Out
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- These are the side menubar items. -->
            <a href="/faculty/request-grant" class="item">
              Request Grant
              <i class="chevron right icon"></i>
            </a>
            <a href="/faculty/my-requests" class="active item">
              My Requests
              <i class="chevron right icon"></i>
            </a>
          </div>
        </div>

        <!-- This is where you will put the content of the page. -->
        <div class="column" id="content">
          <div class="ui grid">
            <div class="row">
              <div class="ui action input">
                <!-- ITERATION 2 This is for the searching of my grants request -->    
                {{!-- <input type="text" placeholder="Search...">
                <div class="ui button">Search</div> --}}
              </div>
            </div>

          <!-- This the table for the list of grants submitted by the user-->
            <div class="row">
              <table class="ui single line selectable table tablet stackable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Form</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <!-- Each handlebar linked to the 'checkstatus' helper will format each grant based on status -->
                  {{#each forms}}
                  {{#showonlybyuser firstName lastName}}
                  {{#checkstatus 'Approved' grantStatus}}
                  <tr class="positive">
                    {{else}}
                    <!-- dont show -->
                    {{/checkstatus}}

                    {{#checkstatus 'Rejected' grantStatus}}
                  <tr class="negative">
                    {{else}}
                    <!-- dont show -->
                    {{/checkstatus}}

                    {{#checkstatus 'Pending' grantStatus}}
                  <tr>
                    {{else}}
                    <!-- dont show -->
                    {{/checkstatus}}
                    <td>{{formId}} </td>
                    <td>{{timestamp}} </td>
                    <td>{{grantName}}</td>
                    <td>{{grantStatus}}</td>
                    <td>
                      <form action="/faculty/view-details" method="post" class="ui form fluid">
                        <button type = "submit" class="ui button fluid viewdetails" >
                          View Details <input type="hidden" name="details" value="{{_id}}" />
                        </button>
                     </form>
                    </td>
                    <td>
                      <div class="ui fluid dropdown icon labeled button">
                        Export
                        <i class="arrow alternate circle down icon"></i>
                        <div class="menu">
                          <div class="header">
                            Choose how to export
                          </div>
                          <div class="divider"></div>
                          <div class="item ui fluid saveform" data-id="{{_id}}"> Save </div>
                          <div class="item ui fluid printform" data-id="{{_id}}"> Print </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {{else}}
                  <!--  do not show -->
                  {{/showonlybyuser}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- This the modal for view details -->
    {{!-- <div class="ui modal viewdetails">
      <i class="close icon"></i>
      <div class="header">Form details</div>
       <div class="ui embed pdf"> 
         <iframe class = "iframe pdf" type="application/pdf"> </iframe>
       </div>
    </div> --}}

  <!-- This the modal for logout confirmation -->
    <div class="ui modal logout">
      <div class="header">Are you sure?</div>
      <div class="content">
        <p>Do you really want to log out?</p>
      </div>
      <div class="actions">
        <input type="submit" value="Log out" class="ui button positive logout">
        <div class="ui cancel button">Not yet</div>
      </div>
    </div>
</body>

<!-- Always include these two JS files when adding a new page -->
<script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../semantic/semantic.js"></script>
<!-- You can insert more JS files below -->
<script type="text/javascript" src="../jspdf.min.js"></script>
<script type="text/javascript" src="../moment.min.js"></script>
<script type="text/javascript" src="../public/js/my-requests.js"></script>
<script type="text/javascript" src="../public/js/base64files.js"></script>
<script type="text/javascript" src="../public/js/log-out.js"></script>
</html>