<!-- 
  This is the page for the preview of the
  FD15 form.
  November 15, 2018
  @ver 1.0
  @author Sai Manalili
-->

<!DOCTYPE html>
<html>

<head>
  <title>
    {{#if viewdetails}}
    Form Details - FD15
    {{else if adminAccess}}
    Form Details - FD15
    {{else}}
    Preview - FD15
    {{/if}}
  </title>
  <!-- Always include these two css files when creating a new html file. -->
  <link href="../semantic/semantic.css" type="text/css" rel="stylesheet" />
  <link href="../css/main.css" type="text/css" rel="stylesheet" />
  <!-- You can insert more CSS files below-->
  <link href="../public/semantic-ui-calendar/dist/calendar.min.css" type="text/css" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href=".../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="..favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!-- This is the menu bar. -->
  <div class="ui inverted huge borderless fixed fluid menu">
    <a href="/home" class="header item">
      <div class="ui mini image">
        <img src="../public/images/dlsulogo.png" />
      </div>
      <div class="brand-text">
        Office of the Vice Chancellor <br /> for Academics
      </div>
    </a>
    <div class="right menu">
    </div>
  </div>

  <div class="ui grid">
    <!-- This is the side menubar. -->
    <div class="row">
      <div class="column" id="sidebar">
        <div class="ui secondary vertical fluid menu">
          <div class="ui grid">

            <!-- This is where the short overview of the profile is placed. -->
            <div class="one column center aligned row">
              <div class="column profile">
                <div class="ui small image circular bordered">
                  <img src="../images/photo_template.jpg" />
                </div>
                <div class="row">
                  <div class="person-name stackable">
                    <p>{{user.firstName}} {{user.lastName}}</p>
                  </div>
                  <div class="person-type stackable">
                    {{user.userType}}
                  </div>
                  <div class="log-out">
                    <a class="ui tiny button">
                      Log Out
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- These are the side menubar items. -->
          {{#if viewdetails}}
          <a href="/faculty/my-requests" class="active item">
            My Grant Requests
            <i class="chevron right icon"></i>
          </a>
          <a href="/faculty/request-grant" class=" item">
            Request Grant
            <i class="chevron right icon"></i>
          </a>
          {{else if adminAccess}}
          <a href="/home" class="item">
            Overview
            <i class="chevron right icon"></i>
          </a>
          <a href="/admin/view-grants" class="active item">
            View Grant Requests
            <i class="chevron right icon"></i>
          </a>
          {{else}}
          <a href="/faculty/my-requests" class="item">
            My Grant Requests
            <i class="chevron right icon"></i>
          </a>
          <a href="/faculty/request-grant" class="active item">
            Request Grant
            <i class="chevron right icon"></i>
          </a>
          {{/if}}
        </div>
      </div>

      <!-- This is where you will put the content of the page. -->
      <div class="column" id="content">
        <div class="ui grid">
          <div class="row">
            <h1 class="ui huge header">
              {{#if viewdetails}}
              Form Details
              {{else if adminAccess}}
              Form Details
              {{else}}
              Preview Form
              {{/if}}
            </h1>
          </div>
          {{#if viewdetails}}
          <!-- This is where the remarks or details from the Administrator -->
          <table class="ui padded selectable table tablet stackable celled " id="remarks">
            <thead id="remarks-head">
              <tr id="remarks-row">
                <th class="four wide">Date</th>
                <th class="three wide">Status</th>
                <th class="nine wide">Remarks</th>
              </tr>
            </thead>
            <tbody id="remarks-body">
              {{#each remarks}}
              <tr>
                <td>{{formatDateTime date}}</td>
                <td>{{status}}</td>
                <td>{{remark}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else if adminAccess}}
          <!-- This is for the Administrator -->
          <table class="ui padded selectable table tablet stackable celled " id="remarks">
            <thead id="remarks-head">
              <tr id="remarks-row">
                <th class="four wide">Date</th>
                <th class="three wide">Status</th>
                <th class="seven wide">Remarks</th>
                <th class="two wide"></th>
              </tr>
            </thead>
            <tbody id="remarks-body">
              {{#each remarks}}
              <tr>
                <td>{{formatDateTime date}}</td>
                <td>{{status}}</td>
                <td>{{remark}}</td>
                <td><button class="ui button red" data-id="{{_id}}" id="delete-button">Delete</button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{/if}}

          <!-- This is where the fields for the forms. -->
          <div class="row">
            <div class="one column">
              <div class="ui attached message">
                <div class="one column center aligned row">
                  {{#if viewdetails}}
                  <div class="ui compact right floated segment">
                    <b> Form ID: </b> {{fdFifteenData.formId}}
                  </div>
                  {{else if adminAccess}}
                  <div class="ui compact right floated segment">
                    <b> Form ID: </b> {{fdFifteenData.formId}}
                  </div>
                  {{else}}
                  {{/if}}
                  <div class="column">
                    <h2> [FD15] Support for Local Trainings, Seminars and Workshops</h2>
                  </div>
                  <div class="column">
                    <h3>1st Term, AY 2018-2019</h3>
                  </div>
                </div>
              </div>
              <form action="/faculty/submit-fd15" method="post" class="ui form attached fluid segment" id="preview-form"
                autocomplete="off">
                <div class="two fields">
                  <div class="field">
                    <label>First Name</label>
                    <p>{{fdFifteenData.firstName}}</p>
                    <input type="hidden" name="firstName" value="{{fdFifteenData.firstName}}" />
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    <p>{{fdFifteenData.lastName}}</p>
                    <input type="hidden" name="lastName" value="{{fdFifteenData.lastName}}" />
                  </div>
                </div>
                <div class="two fields">
                  <div class=" field">
                    <label>Department</label>
                    <p>{{fdFifteenData.department}}</p>
                    <input type="hidden" name="department" value="{{fdFifteenData.department}}" />
                  </div>
                  <div class="field">
                    <label>Rank</label>
                    <p>{{fdFifteenData.rank}}</p>
                    <input type="hidden" name="rank" value="{{fdFifteenData.rank}}" />
                  </div>
                </div>
                <div class="field">
                  <label>Host Institution/Organization</label>
                  <p>{{fdFifteenData.hostInstitution}}</p>
                  <input type="hidden" name="hostInstitution" id="hostInstitution" class="check" value="{{fdFifteenData.hostInstitution}}" />
                </div>
                <div class="fields two">
                  <div class="field">
                    <label>Title of Seminar</label>
                    <p>{{fdFifteenData.titleOfSeminar}}</p>
                    <input type="hidden" name="titleOfSeminar" id="titleOfSeminar" class="check" value="{{fdFifteenData.titleOfSeminar}}" />
                  </div>
                  <div class="field">
                    <label>Place</label>
                    <p>{{fdFifteenData.place}}</p>
                    <input type="hidden" name="place" id="place" class="check" value="{{fdFifteenData.place}}" />
                  </div>
                </div>
                <div class="field">
                  <div class="fields">
                    <div class="eight wide field">
                      <label>Duration Start</label>
                      {{#if viewdetails}}
                      <p>{{formatDate fdFifteenData.startTime}}</p>
                      {{else if adminAccess}}
                      <p>{{formatDate fdFifteenData.startTime}}</p>
                      {{else}}
                      <p>{{fdFifteenData.startTime}}</p>
                      <input type="hidden" name="startTime" placeholder="Date" id="startTime" class="check" value="{{fdFifteenData.startTime}}" />
                      {{/if}}
                    </div>
                    <div class="eight wide field">
                      <label>Duration End</label>
                      {{#if viewdetails}}
                      <p>{{formatDate fdFifteenData.endTime}}</p>
                      {{else if adminAccess}}
                      <p>{{formatDate fdFifteenData.endTime}}</p>
                      {{else}}
                      <p>{{fdFifteenData.endTime}}</p>
                      <input type="hidden" name="endTime" placeholder="Date" id="endTime" class="check" value="{{fdFifteenData.endTime}}" />
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div class="field">
                  <div class="fields">
                    <div class="eight wide field">
                      <label>Date incentive was last availed of</label>
                      {{#if viewdetails}}
                      <p>{{formatDate fdFifteenData.dateIncentiveLastAvailed}}</p>
                      {{else if adminAccess}}
                      <p>{{formatDate fdFifteenData.dateIncentiveLastAvailed}}</p>
                      {{else}}
                      <p>{{fdFifteenData.dateIncentiveLastAvailed}}</p>
                      <input type="hidden" name="dateIncentiveLastAvailed" placeholder="Date" id="dateIncentiveLastAvailed"
                        class="check" value="{{fdFifteenData.dateIncentiveLastAvailed}}" />
                      {{/if}}
                    </div>
                    <div class="eight wide field">
                      <label>Participant’s Fee (check payable to)</label>
                      <p>{{fdFifteenData.participantFee}}</p>
                      <input type="hidden" name="participantFee" id="participantFee" class="check" value="{{fdFifteenData.participantFee}}" />
                    </div>
                  </div>
                </div>

                <div class="ui divider"></div>
                <br>
                {{#if viewdetails}}
                {{else if adminAccess}}
                {{else}}
                <div class="field">
                  <label>Note</label>
                  <p>Once you clicked submit, you may not be able to revise it.</p>
                  <p></p>
                </div>
                <br>
                <div class="field">
                  <button class="ui submit green button" type="Submit">
                    Submit
                  </button>
                  {{/if}}
                  {{#if viewdetails}}
                  <div class="extra">
                    <a class="ui button" href="/faculty/my-requests">
                      <i class="left chevron icon"></i>
                      Back
                    </a>
                  </div>
              </form>
              {{else if adminAccess}}
              <div class="extra">
                <a class="ui button" href="/admin/view-grants">
                  <i class="left chevron icon"></i>
                  Back
                </a>
              </div>
              </form>

              <!-- This is for filling up the remarks -->
              {{#if adminAccess}}
              <br>
              <div class="row">
                <form class="ui form" id="remarks-form">
                  <div class="row" style="width: 25%;">
                    <div class="field">
                      <b>Status</b>
                      <input type="hidden" name="form-status" id="form-status" value="{{fdOneData.grantStatus}}">
                      <div class="ui selection dropdown">
                        <input type="hidden" name="status-dropdown" id="status-dropdown">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select status...</div>
                        <div class="menu">
                          <div class="item" data-value="Approved">Approved</div>
                          <div class="item" data-value="Pending">Pending</div>
                          <div class="item" data-value="Rejected">Rejected</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <b>Remarks</b>
                    <textarea name="remark" id="remark" rows="5" cols="235" placeholder="Put your remark for the status here..."></textarea>
                  </div>
                  <br>
                  <button class="ui button green" type="submit" id="submit-button" data-grant="{{grant}}" data-id="{{formID}}"
                    style="background-color:#016938">Submit</button>
                  <button class="ui button" id="reset-button" type="button">Reset</button>
                </form>
              </div>
              <div class="row">
                <div id="prompt"></div>
              </div>
              {{/if}}

              <!-- This the modal for the remark deletion -->
              <div class="ui mini modal deletion">
                <div class="header">Are you sure?</div>
                <div class="content">
                  <p>Once you click the "Delete" button, the remark will be permanently deleted.</p>
                </div>
                <div class="actions">
                  <input type="submit" value="Delete" id="confirm-delete" class="ui button negative delete final">
                  <div class="ui cancel button">Not yet</div>
                </div>
              </div>
              {{else}}
              <input type="submit" formaction="/faculty/fd-15" class="ui button" value="Back">
              {{/if}}

              <!-- This the modal for logout confirmation -->
              <div class="ui mini modal logout">
                <div class="header">Are you sure?</div>
                <div class="content">
                  <p>Do you really want to log out?</p>
                </div>
                <div class="actions">
                  <input type="submit" value="Log out" class="ui button positive logout" style="background-color:#016938">
                  <div class="ui cancel button">Not yet</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

<!-- Always include these two JS files when adding a new page -->
<script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../public/semantic/semantic.js"></script>
<script type="text/javascript" src="../public/semantic-ui-calendar/dist/calendar.min.js"></script>
<!-- You can insert more JS files below -->
{{#if adminAccess}}
<script type="text/javascript" src="../public/js/admin-view.js"></script>
<script type="text/javascript" src="../public/moment.min.js"></script>
{{else if viewdetails}}

{{else}}
<script type="text/javascript" src="../public/js/preview.js"></script>
{{/if}}
<script type="text/javascript" src="../public/js/log-out.js"></script>

</html>