<!-- 
    This is the page where the admin
    view the grants requested.
    October 15, 2018
    @ver 1.1
    @author Candace Mercado
-->

<html>
  <head>
  <title>View Grants</title>
   <!-- Always include these two css files when creating a new html file. -->
      <link href="../public/semantic/semantic.css" type="text/css" rel="stylesheet"/>
      <link href="../public/css/main.css" type="text/css" rel="stylesheet"/>
   <!-- You can insert more CSS files below-->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href=".../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="..favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  
  <body>
    <!-- This is the menu bar. -->
    <div class="ui inverted huge borderless fixed fluid menu">
      <a href="/home" class="header item">
        <div class="ui mini image">
          <img src="../public/images/dlsulogo.png"/>
        </div>
       <div class="brand-text">
         Office of the Vice Chancellor <br> for Academics
       </div>
      </a>
      <div class="right menu">
        <a class="item">
          <i class="bell icon"></i>
        </a>
      </div>
    </div>

    <div class="ui grid">
      <!-- This is the side menubar. -->
      <div class="row">
        <div class="column" id="sidebar">
          <div class="ui secondary vertical fluid menu">
            <div class="ui grid">

              <!-- This is where the short overview of the profile is placed. -->
              <div class="one column center aligned row">
                <div class="column profile">
                   <div class="ui small image circular bordered">
                     <img src="../images/photo_template.jpg"/>
                   </div>
                   <div class="row">
                     <div class="person-name stackable">
                       <p>{{user.firstName}} {{user.lastName}}</p>
                     </div>
                     <div class="person-type stackable">
                       {{user.userType}}
                     </div>
                     <div class="log-out">
                       <a class="ui tiny button">
                         Log Out
                       </a>
                     </div>
                    </div>
                </div>
              </div>
            </div>

          <!-- These are the side menubar items. -->
          <a href = "/home" class="item">
            Overview
            <i class="chevron right icon"></i>
          </a>
          <a class="active item">
            View Grants
            <i class="chevron right icon"></i>
          </a>
         </div>
        </div>
       
       <!-- This is where you will put the content of the page. -->
       <div class="column" id="content">
         <div class="ui grid">
           <div class="row">
             <h1 class="ui huge header">
                View Grants
             </h1>
            </div>
            <div class="ui divider"></div>

          <!-- This the filter for grant status -->
            <div class="row">
                <div class="three wide column">
                    <div id = "status" class="ui selection dropdown fluid">                  
                        <i class="filter icon"></i>
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        {{#if statusFilter}}
                          <div class="default text">{{statusFilter}}</div>
                        {{else}}
                          <div class="default text">Status</div>
                        {{/if}}
                        <div class="menu">
                            <div class="item" data-value="Approved" onclick="document.location.href = '/admin/filterApproved'">Approved</div>
                            <div class="item" data-value="Pending" onclick="document.location.href = '/admin/filterPending'">Pending</div>
                            <div class="item" data-value="Rejected" onclick="document.location.href = '/admin/filterRejected'">Rejected</div>
                        </div>
                    </div>
                </div>
                
               <!-- This the filter for department -->
                <div class="three wide column">
                    <div id = "status" class="ui selection dropdown fluid">                  
                        <i class="filter icon"></i>
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        {{#if departmentFilter}}
                        <div class="default text">{{departmentFilter}}</div>
                        {{else}}
                        <div class="default text">Department</div>
                        {{/if}}
                        <div class="menu">
                          <div class="item" data-value="CCS" onclick="document.location.href = '/admin/filterCCS'">College of Computer Studies</div>
                          <div class="item" data-value="CED" onclick="document.location.href = '/admin/filterCED'">College of Education</div>
                          <div class="item" data-value="CLA" onclick="document.location.href = '/admin/filterCLA'">College of Liberal Arts</div>
                          <div class="item" data-value="COB" onclick="document.location.href = '/admin/filterCOB'">College of Business</div>
                          <div class="item" data-value="COE" onclick="document.location.href = '/admin/filterCOE'">College of Engineering</div>
                          <div class="item" data-value="COL" onclick="document.location.href = '/admin/filterCOL'">College of Law</div>
                          <div class="item" data-value="COS" onclick="document.location.href = '/admin/filterCOS'">College of Science</div>
                          <div class="item" data-value="SOE" onclick="document.location.href = '/admin/filterSOE'">School of Economics</div>
                        </div>
                    </div>
                </div>
                
              <!-- This the filter for department -->
                <div class="three wide column">
                    <div id = "status" class="ui selection dropdown fluid">                  
                        <i class="filter icon"></i>
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        {{#if formFilter}}
                        <div class="default text">{{formFilter}}</div>
                        {{else}}
                        <div class="default text">Forms</div>
                        {{/if}}
                        <div class="menu">
                            <div class="item" data-value="FD1" onclick="document.location.href = '/admin/filterFD1'">[FD1] Incentive for Publication in Pre-Selected High Impact Journal</div>
                            <div class="item" data-value="FD2" onclick="document.location.href = '/admin/filterFD2'">[FD2] Incentive for Publication in Pre-Selected High Impact Conferences</div>
                            <div class="item" data-value="FD3" onclick="document.location.href = '/admin/filterFD3'">[FD3] Support for Paper Presentations in Conferences</div>
                            <div class="item" data-value="FD4" onclick="document.location.href = '/admin/filterFD4'">[FD4] Support for Participation in Local Conferences</div>
                            <div class="item" data-value="FD15" onclick="document.location.href = '/admin/filterFD15'">[FD15] Incentive for Publication in Pre-Selected High Impact Journal</div>
                            <div class="item" data-value="FD16" onclick="document.location.href = '/admin/filterFD16'">[FD16] Support for Membership in Professional Organizations</div>
                        </div>
                    </div>
                </div>
      
          <!-- ITERATION 2 This the filter search bar for name -->
            <div class="three wide column">
              <div class="ui action input fluid">
               {{!-- <form id = "searchForm" class="ui large form" action = "/admin/searchName" method = "post">
                <input type="text"  name = "firstNameSearch" placeholder="First Name">
                <input type="text"  name = "lastNameSearch" placeholder="Last Name">
                <div class="ui button submit" onclick="searchForm.submit();">Search name</div>
                </form> --}}
              </div>
            </div>    
        </div>

          <!-- This the table for the list of grants submitted -->
          <div class="row">
            <table class="ui single line selectable table tablet stackable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Timestamp</th>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Form</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
             <tbody>

                 <!-- Each handlebar linked to the 'checkstatus' helper will format each grant based on status -->
                  {{#each forms}}
                    <div data-id="{{_id}}">
                      {{#checkstatus 'Approved' grantStatus}}
                          <tr class="positive listmember">
                      {{else}}
                        <!-- dont show -->
                      {{/checkstatus}}

                      {{#checkstatus 'Rejected' grantStatus}}
                          <tr class="negative listmember">
                      {{else}}
                        <!-- dont show -->
                      {{/checkstatus}}

                      {{#checkstatus 'Pending' grantStatus}}
                          <tr class = "listmember">
                      {{else}}
                        <!-- dont show -->
                      {{/checkstatus}}
                      <td>{{formId}} </td>
                      <td>{{timestamp}} </td>
                      <td>{{firstName}} {{lastName}} </td>
                      <td>{{department}}</td>                      
                      <td>{{grantName}}</td>
                      <td>{{grantStatus}}</td>
                            <td>
                               <form action="/admin/view-details" method="post" class="ui form fluid">
                                  <button type = "submit" class="ui button fluid viewdetails" >
                                    View Details <input type="hidden" name="details" value="{{_id}}" />
                                  </button>
                              </form>
                            </td>
                            <td>
                              <button id="delete" class="ui negative button fluid delete" data-id="{{_id}}" data-grant="{{grantName}}">Delete</button>
                            </td>
                          </tr>    
                    {{/each}}   
                </tbody>  
             </table>
            </div>   

        <!-- Show message if no forms are returned by the filter request -->
          {{#if noforms}}
          <div class = "row">
            <div class="ui one column stackable center aligned page grid">
              <div class="column sixteen wide">
                <div class="ui tiny yellow message">{{noforms}}</div>
              </div>
            </div>
            </div>
          {{/if}}
          </div>
        </div>
      </div>
    </div>

  <!-- This the modal for grant deletion -->
    <div class="ui modal deletion">
      <div class="header">Are you sure?</div>
      <div class="content">
        <p>Once you click the "Delete" button, the grant request will be permanently deleted.</p>
      </div>
      <div class="actions">
        <input type="submit" value="Delete" class="ui button negative delete final">
        <div class="ui cancel button">Not yet</div>
      </div>
    </div>

  <!-- This the modal for logout confirmation -->
    <div class="ui modal logout">
      <div class="header">Are you sure?</div>
      <div class="content">
        <p>Do you really want to log out?</p>
      </div>
      <div class="actions">
        <input type="submit" value="Log out" class="ui button positive logout">
        <div class="ui cancel button">Not yet</div>
      </div>
    </div>
  </body>

<!-- Always include these two JS files when adding a new page -->
<script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../public/semantic/semantic.js"></script>
<!-- You can insert more JS files below -->
<script type="text/javascript" src="../public/js/view-grants.js"></script>
<script type="text/javascript" src="../public/js/log-out.js"></script>
</html>